<div>
    <mat-form-field class="search-feild">
        <mat-label>	<mat-icon>search</mat-icon>Search...</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue" (keyup)=searchInput()>
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="subscribe">
    <h3 class="heading"><u>{{heading1| uppercase }}</u></h3>
    <div class="subscribe-modal">
        <div *ngFor="let subscription of subscriptionList;index as i" (click)=selectSubscription(i)>
            <mat-card class="channel-card">
                <mat-card-content class="content">{{subscription}}</mat-card-content> 
             </mat-card>              
        </div>
    </div>
</div>
<div *ngIf=searchSubscription()>
<h2>Below is the search results for {{selectedSubscription}} subscriptions:-</h2>
<div class="search-result">
    <div *ngFor="let result of searchResult;index as i">
        <mat-card class="channel-card">
            <mat-card-title>{{selectedSubscription}}</mat-card-title>
            <mat-card-subtitle>${{result.costPerUser}}/{{result.subscriptionCycle}}</mat-card-subtitle>
            <mat-card-content class="content">{{result.UsersLeft}} User left</mat-card-content> 
            <mat-card-actions>
                <button mat-button (click)="RequestSubscription()">SUBSCRIBE</button>
              </mat-card-actions>
         </mat-card>              
    </div>
</div>
</div>
