.channel-card{
    border-style:dashed;
    border-color: black;
    font-family: 'Lilita One', cursive;
}

.heading{
    font-family: 'Lilita One', cursive;
    color: cornflowerblue;
}

.channel-card:hover{
    background-color:lightgrey;
}

.subscribe-modal{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
}

.content{
    text-align: center;
}

.search-feild{
    display: grid;
    justify-content: end;
}

.result-card{
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    border-style: solid;
    border-color: black;
    margin-bottom: 8px;
}

.heading-card{
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    border-style: solid;
    border-color: black;
    margin-bottom: 8px;
    padding: 0px;
    margin: 0px;
}


.white{
    color:blue;
}

.red{
    color: red;
}

/* .actions{
    position: absolute;
    z-index: 1;
} */