<app-navbar></app-navbar>
<div class="body">

    <div class="interact-div">
        <div class="subscribe" >
            <div class="subscribe-content-area">
                <span>You can be a part of other's subscription here</span>
            </div>
            <div class="subscribe-button-area">
                <button class="subscribe-text" (click)="subscribe()">SUBSCRIBE</button>
            </div>
        </div>
        <div class="offer">
                <div class="offer-content-area">
                    <span>You can offer your subscription here</span>
                </div>
                <div class="offer-button-area">
                        <button class="offer-text" (click)="offer()">OFFER</button>
                </div>
        </div>
    </div>
    <!-- <div class="easy-options"></div> -->
</div>