<div>
    <mat-form-field class="search-feild">
        <mat-label>	<mat-icon>search</mat-icon>Search...</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue" (keyup)=searchInput()>
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="subscribe">
    <h3 class="heading"><u>{{heading1| uppercase }}</u></h3>
    <div class="subscribe-modal">
        <div *ngFor="let subscription of subscriptionList;index as i" (click)=selectSubscription(i)>
            <mat-card class="channel-card">
                <mat-card-content class="content">{{subscription}}</mat-card-content> 
             </mat-card>              
        </div>
    </div>
</div>
<div *ngIf="startOffer()">
<h3>Enter details to offer {{selectedSubscription}}:-</h3>
<form [formGroup]="newOfferForm" >
    <div class="new-offer">
        <p>
            <mat-form-field class="">
              <label>Subscription Name:-</label>
              <input matInput formControlName="offferTitle">
            </mat-form-field>
          </p>
        
          <p>
            <mat-form-field class="">
              <label>No of users</label>
              <input type="text" matInput  formControlName="usersCount">
            </mat-form-field>
          </p>
      
          <p>
              <mat-form-field class="">
                <label>Price per user(in $)</label>
                <input type="text" matInput  formControlName="price">
              </mat-form-field>
          </p>

          <p>
            <mat-form-field class="">
              <label>Subscription Cycle</label>
              <input type="text" matInput  formControlName="subscriptionCycle">
              <!-- <div>
                <select
                class="custom-select mb-3"
                matImput
                formControlName="subscriptionCycle"
              >
                <option value="">Choose Cycle</option>
                <option  value="month">Month
                </option>
                <option  value="year">Year
                </option>
              </select>
              </div> -->

              <!-- <div class="custom-control custom-radio">
                <input id="male" type="radio" class="custom-control-input" value="year" name="subscriptionCycle" matInput formControlName="subscriptionCycle">
                <label class="custom-control-label" for="male">Month</label>
              </div>
  
              <div class="custom-control custom-radio">
                <input id="female" type="radio" class="custom-control-input" value="month" name="subscriptionCycle" matInput formControlName="subscriptionCycle">
                <label class="custom-control-label" for="female">Year</label>
              </div> -->
            </mat-form-field>
        </p>
    </div>
    
  
    <div class="buttons">
      <div class="login-div">
        <button type="submit" mat-raised-button class="offer-button" color="warn" (click)="postOffer()">Post offer</button>
      </div>
    </div>
  </form>
</div>


